body {
	height: 100vh;
	margin:0;
	background:#eee;
	color:#232323;
}

.card-container {
	display: flex;
	width: inherit;
	height: inherit;
}

.card {
	width: 250px;
	height: 400px;
	margin: auto auto;
	position: relative;
}
.card #front, .card #back {
	width: inherit;
	height: inherit;
	position: absolute;
	backface-visibility: hidden;
	transition: transform .5s ease-in-out;
	display: flex;
	border-radius: 3px;
	box-shadow: 0 3px 6px 3px rgba(0, 0, 0, .4);
	cursor: pointer;
}
.card #back {
	background: #1c314e url('../images/back.png') no-repeat center center;
	transform: rotateY(-180deg);
}
.card #front {
	background: #1d2d3b url('../images/front.png') no-repeat center center;
}
